.hero {
  position: relative;

  &__container {
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include on-tablet {
      display: block;
    }
  }

  &__content {
    flex: 0 0 50%;

    @include on-tablet {
      flex: 0 1 100%;
    }
  }

  &__title {
    font-size: 8.875rem;
    line-height: 87.3%;
    font-family: "DM Sans";
    font-weight: 600;
    letter-spacing: -10px;

    span {
      color: $medium-sea-green;
    }

    @media (max-width: 880px) {
      font-size: 7.5rem;
    }

    @include on-tablet {
      font-size: 6.25rem;
      letter-spacing: 0;
      line-height: 100%;
    }

    @media (max-width: 470px) {
      font-size: 80px;
    }

    @include on-mobile {
      letter-spacing: -2px;
      font-size: 3.75rem;
    }
  }

  &__subtitle {
    margin-top: 21px;
    font-size: 1.5rem;
    color: $gray;
    line-height: 125%;

    img {
      width: 30px;
      cursor: pointer;
      display: inline-block;
      transform-origin: bottom center;
      animation: wave 1.5s ease-in-out;
      animation-delay: 3s;
    }

    @include on-tablet {
      font-size: 1.1875rem;
      max-width: 440px;
    }
  }

  &__btns {
    margin-top: 70px;
    display: flex;
    gap: 40px;

    @include on-tablet {
      gap: 66px;
      margin-top: 20px;
      flex-direction: column;
    }

    @media (max-width: 665px) {
      gap: 25px;
    }
  }

  &__btn {
    @include on-tablet {
      height: 60px;
      width: 208px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 16px;

    @include on-tablet {
      gap: 38px;
      align-items: start;
      flex-direction: column-reverse;
    }

    @media (max-width: 665px) {
      gap: 25px;
    }
  }

  &__social {
    img {
      @include on-tablet {
        width: 200px;
      }

      @media (max-width: 665px) {
        width: 150px;
      }

      @include on-mobile {
        width: 125px;
      }
    }
  }

  &__image {
    flex: 1 1 50%;
    display: flex;
    justify-content: end;
    position: relative;

    img {
      max-width: 100%;

      @include on-tablet {
        width: 350px;
      }

      @media (max-width: 625px) {
        width: 250px;
      }
    }

    @include on-tablet {
      flex: 1 1 100%;
      position: absolute;
      right: 15px;
      bottom: 15%;
    }

    @media (max-width: 625px) {
      bottom: 25%;
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__main--2,
  &__main--3 {
    position: absolute;
  }

  &__main--2 {
    bottom: 31%;
    left: 15%;

    @media (max-width: 1285px) {
      left: 35px;
    }

    @media (max-width: 1045px) {
      width: 110px;
    }

    @media (max-width: 950px) {
      width: 80px;
    }

    @media (max-width: 875px) {
      width: 70px;
      left: 20px;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__main--3 {
    top: 0%;
    right: 5%;

    @media (max-width: 1045px) {
      width: 160px;
    }

    @media (max-width: 1045px) {
      width: 160px;
    }

    @media (max-width: 950px) {
      width: 130px;
    }

    @media (max-width: 875px) {
      width: 110px;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__interactive {
    margin-top: 100px;

    @media (max-width: 1600px) {
      margin-top: 70px;
    }

    @include on-mobile {
      margin-top: 50px;
    }
  }

  &__scroll {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__return {
    position: absolute;
    top: 43%;
    left: 0;
    background-color: $lime;
    padding: 12px 50px;
    color: $white;
    border-radius: 9px;
    transform: translateX(-30%) rotate(-90deg);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(21, 190, 21);
    }

    @media (max-width: 1500px) {
      display: none;
    }
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30%,
  50%,
  70% {
    transform: rotate(15deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-15deg);
  }
}
