// colors
$lime: #13cc00;
$lime-green: #388e3c;
$gray-blue: #292930;
$gray: #737373;

// cards
$light-periwinkle: #ecf2f6;
$white: #ffffff;
$medium-sea-green: #27b674;
$blue: #4947e5;
$yellow: #ffd247;

// media queries
$modile: 375px;
$tablet: 768px;
$laptop: 1024px;
